<style>
  .container{
    text-align: center;
  }
</style>


<div class="container" *ngIf = "display==1">
  <h3>{{title}}</h3>
  Name: <input type="text" [(ngModel)] = "name"><br>
  Address: <input type="text" [(ngModel)] = "address"><br>
  Gender: <input type="text" [ngModel] = "gender"><br>
  Age: <input type="number" [(ngModel)] = "age"><br>
  D.O.B: <input type="date" [(ngModel)] = "dob"><br>
  Month Income: <input type="number" [(ngModel)] = "income"><br>
  <button (click) = "action()">Submit</button>
</div>
<div *ngIf = "display == 2">
  <h3>ThankYou, Form Submitted</h3>
  <h3>Details: </h3>
  <h5>Name: {{name}}</h5>
  <h5>Address: {{address}}</h5>
  <h5>Gender: {{gender}}</h5>
  <h5>Age: {{age}}</h5>
  <h5>DOB: {{dob}}</h5>
  <h5>Monthly Income: {{income}}</h5>
</div>

